* .hotwheels img {
    max-width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}
html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav>ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
}

main {
    display: block;
    background-color: rgb(255, 255, 255);
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside,
article {
    padding: 2em;
}

aside {
    text-align: center;
}

article {
    width: 75%;
}

@media only screen and (min-width: 768px) {

main {
    display: flex;
}

aside {
    margin-left: 2%;
}

.columns-desktop {
    display: flex;
}
}

/* hotwheels */

/* 
.hotwheels {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    border-radius: 25px;
    border: #fff;
    color: #fff;
    
}

.hotwheels img {
    max-width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

.alcohol .title {
    font-weight: bold;
    flex-direction: row;
}

.alcohol .columns {
    width: 100%;
}

.alcohol .price {
    font-weight: bold;
    flex-direction: column;
}

.alcohol .columns div {
    width: 50%;
}


.alcohol button {
    background-color: rgb(255, 255, 255);
    padding: 7px;
    margin: 8px;
    border: solid 3px rgb(77, 76, 76);
    border-radius: 15px;
}

.alcohols-pannel {
display: flex;
flex-wrap: wrap;
} */



